# EDA on my favorite TV show Shark Tank India

## Introduction

<p>I did a deep dive into the data from Shark Tank India, my favorite TV show. Basically, I used SQL to sift through the data and find interesting stuff about the number of pitches, which ones got funding, where the brands were located, and details about the average equity and investments made by different sharks. The goal was to uncover patterns and connections in the data</p>

I web scraped wikipedia data of Shark tank season 1 and transformed it using Excel. I have uploaded the ready file in the github repo for this project. 

#### Dataset Link: https://github.com/Swapppyy/EDA-on-Shark-Tank-India/blob/main/data.csv

### The aim of this notebook is to answer below questions:

- <p>Total Number of Episodes

- <p>Total number of pitches

- <p>Pitches that received Funding

- <p>Total amount invested by Sharks

- <p>Distribution of genders on the teams

- <p>Highest investement and equity taken by any of the shark

- <p>Partner deals of sharks

- <p>Table of my 4 favorite sharks and their investments information

- <p>Startup in which the highest amount has been invested in each domain/sector

## Data Analysis using SQL

#### To showcase my work i am using a different approach using Jupyter Notebook

<p>As i am using my Jupyter Notebook i need to establish connection with SQL on my local machine.</p>
<p>Using a SQL Magic Extension: Jupyter Notebook has a built-in extension called "SQL Magic" that allows you to write SQL queries directly in a notebook cell.</p>

<p>You can use any SQL tool you like to run this queries after loading the dataset </p>

In [ ]:
%load_ext sql
%sql sqlite:///C:/Users/mahaj/Downloads/data.db

In [3]:
%sql select * from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(1, 'BluePine Industries', 2.0, 1.0, 'Delhi', 'Frozen Momos', 'Food', '75 lakhs for 16% equity', 75, 50.0, 0, 0, 16.0, 5.0, '35-40', 3, 25.0, 5.333333333, 0.0, 0.0, 0.0, 0.0, 25.0, 5.33, 25.0, 5.33, None, None, None, None, 3.0, 'Ama-Ash-Vin'),
 (1, 'Booz scooters', 1.0, 0.0, 'Ahemdabad', 'Renting e-bike for mobility in private spaces', 'Automobile', '40 lakhs for 50% equity', 40, 40.0, 0, 0, 50.0, 15.0, '25-30', 1, 20.0, 25.0, 0.0, 0.0, 0.0, 0.0, 20.0, 25.0, 0.0, 0.0, None, None, None, None, 2.0, 'Ash-Vin'),
 (1, 'Heart up my Sleeves', 0.0, 1.0, 'Delhi', 'Detachable Sleeves', 'Clothes', '25 lakhs for 30% equity', 25, 25.0, 0, 0, 30.0, 10.0, '20-25', 1, 0.0, 0.0, 0.0, 0.0, 12.5, 15.0, 12.5, 15.0, 0.0, 0.0, None, None, None, None, 2.0, 'Anu-Vin'),
 (2, 'Tagz Foods', 2.0, 0.0, 'Bangalore', 'Healthy Potato Chips', 'Food', '70 lakhs for 2.75% equity', 70, 70.0, 0, 0, 2.75, 1.0, '35-40', 2, 70.0, 2.75, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 1.0, 'Ash'),
 (2, 'Head and Heart', 1.0, 1.0, 'Delhi', 'Brain Development Course', 'Health', 'No Deal', 0, 50.0, 0, 0, 0.0, 5.0, '50-55', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (2, 'Agro tourism', 1.0, 1.0, 'Baramati', 'Tourism', 'Tourism', 'No Deal', 0, 50.0, 0, 0, 0.0, 5.0, '50-55', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (3, 'Qzense Labs', 0.0, 2.0, 'Delhi', 'Food Freshness Detector', 'Food', 'No Deal', 0, 100.0, 0, 0, 0.0, 0.25, '30-35', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (3, 'Peeschute', 1.0, 0.0, 'Jalna', 'Disposable Urine Bag', 'Health', '75 lakhs for 6% equity', 75, 75.0, 0, 0, 6.0, 4.0, '30-35', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 75.0, 6.0, None, None, None, None, 1.0, 'Ama'),
 (3, 'NOCD', 2.0, 0.0, 'Bangalore', 'Energy Drink', 'Food', '20 lakhs for 15% equity and 30 lakhs debt', 20, 50.0, 30, 0, 15.0, 2.0, '30-35', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 50.0, 15.0, 0.0, 0.0, None, None, None, None, 1.0, 'Vin'),
 (4, 'CosIQ', 1.0, 1.0, 'Delhi', 'Intelligent Skincare', 'Health', '50 lakhs for 25% equity', 50, 50.0, 0, 0, 25.0, 7.5, '25-30', 2, 0.0, 0.0, 0.0, 0.0, 25.0, 12.5, 25.0, 12.5, 0.0, 0.0, None, None, None, None, 2.0, 'Anu-Vin'),
 (4, 'JhaJi Achaar', 0.0, 2.0, 'Darbhanga', 'Pickle', 'Food', 'No Deal', 0, 50.0, 0, 0, 0.0, 10.0, '45-50', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (4, 'Bummer', 1.0, 0.0, 'Ahemdabad', 'Underwear', 'Clothes', '75 lakhs for 7.5% equity', 75, 75.0, 0, 0, 7.5, 4.0, '20-25', 1, 0.0, 0.0, 37.5, 3.75, 0.0, 0.0, 0.0, 0.0, 37.5, 3.75, None, None, None, None, 2.0, 'Ama-Nam'),
 (5, 'Revamp Moto', 3.0, 0.0, 'Nashik', 'E-Bike', 'Automobile', '1 crore for 1.5% equity', 100, 100.0, 0, 0, 1.5, 1.0, '25-30', 3, 0.0, 0.0, 0.0, 0.0, 50.0, 0.75, 0.0, 0.0, 50.0, 0.75, None, None, None, None, 2.0, 'Ama-Anu'),
 (5, 'Hungry Heads', 2.0, 0.0, 'Mumbai', 'Restaurant serving 80 types of Maggi', 'Food', 'No Deal', 0, 50.0, 0, 0, 0.0, 5.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (5, 'Shrawani Engineers', 2.0, 0.0, 'Pune', 'Belly Button Shaper', 'Lifestyle', 'No Deal', 0, 10.0, 0, 0, 0.0, 20.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (6, 'Skippi Pops', 1.0, 1.0, 'Hyderabad', 'Ice-Pops', 'Food', '1 crore for 15% equity', 100, 45.0, 0, 0, 15.0, 5.0, '35-40', 2, 20.0, 3.0, 20.0, 3.0, 20.0, 3.0, 20.0, 3.0, 20.0, 3.0, None, None, None, None, 5.0, 'Ama-Anu-Ash-Nam-Vin'),
 (6, 'Menstrupedia', 1.0, 1.0, 'Ahemdabad', 'Menstrual Awareness Comic', 'Health', '50 lakhs for 20% equity', 50, 50.0, 0, 0, 20.0, 10.0, '35-40', 2, 0.0, 0.0, 50.0, 20.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 1.0, 'Nam'),
 (6, 'Hecolll', 0.0, 1.0, 'Hyderabad', 'Pollution Resistant Fabric', 'Clothes', 'No Deal', 0, 100.0, 0, 0, 0.0, 1.0, '35-40', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (7, 'Raising Superstars', 1.0, 1.0, 'Mumbai', 'Child Development App', 'Lifestyle', '1 crore for 4% equity', 100, 100.0, 0, 0, 4.0, 2.0, '35-40', 2, 50.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 50.0, 2.0, None, None, None, None, 2.0, 'Ama-Ash'),
 (7, 'Torch-it', 1.0, 0.0, 'Ahemdabad', 'Gadgets for visually impaired people', 'Health', 'No Deal', 0, 75.0, 0, 0, 0.0, 1.0, '30-35', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (7, 'La Kheer Deli', 1.0, 2.0, 'Pune', 'Kheer in variety of flavors', 'Food', 'No Deal', 0, 50.0, 0, 0, 0.0, 7.5, '35-40', 3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, 0.0, None),
 (8, 'Beyond Snack', 1.0, 0.0, 'Kerela', 'Kerala Banana Chips', 'Food', '50 lakhs for 2.5% equity', 50, 50.0, 0, 0, 2.5, 2.5, '30-35', 1, 25.0, 1.25, 0.0, 0.0, 0.0, 0.0, None, None, 25.0, 1.25, 0.0, 0.0, None, None, 2.0, 'Ama-Ash'),
 (8, 'Vivalyf Innovations- Easy Life', 1.0, 1.0, 'Hyderabad', 'Prickless Diabetes Testing Machine', 'Health', '56 lakhs for 33.33% equity', 56, 56.0, 0, 0, 33.33, 7.5, '20-25', 1, 0.0, 0.0, 0.0, 0.0, 28.0, 16.66, None, None, 0.0, 0.0, 28.0, 16.66, None, None, 2.0, 'Anu-Pey'),
 (8, 'Motion Breeze', 3.0, 0.0, 'Gujarat', 'Smart Electric Motorcycle', 'Automobile', '30 lakhs for 6% equity', 30, 30.0, 0, 0, 6.0, 3.0, '25-30', 3, 30.0, 6.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 1.0, 'Ash'),
 (9, 'Altor', 4.0, 0.0, 'Kolkata', 'Smart Helmets', 'Automobile', '50 lakhs for 7% equity', 50, 50.0, 0, 0, 7.0, 5.0, '25-30', 4, 0.0, 0.0, 25.0, 3.5, 0.0, 0.0, None, None, 25.0, 3.5, 0.0, 0.0, None, None, 2.0, 'Ama-Nam'),
 (9, 'Ariro', 1.0, 1.0, 'Chennai', 'Wooden Toys', 'Lifestyle', '50 lakhs for 10% equity', 50, 50.0, 0, 0, 10.0, 2.5, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 25.0, 5.0, 25.0, 5.0, None, None, 2.0, 'Ama-Pey'),
 (9, 'Kabira Handmade', 1.0, 1.0, 'Jaipur', 'Healthy Oils', 'Food', 'No Deal', 0, 100.0, 0, 0, 0.0, 5.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (10, 'Nuutjob', 0.0, 2.0, 'Ahemdabad', 'Male Intimate Hygiene', 'Health', '25 lakhs for 20% equity', 25, 25.0, 0, 0, 20.0, 5.0, '20-25', 2, 0.0, 0.0, 8.3, 6.6, 0.0, 0.0, None, None, 8.3, 6.6, 8.3, 6.6, None, None, 3.0, 'Ama-Nam-Pey'),
 (10, 'Meatyour', 3.0, 0.0, 'Pune', 'Eggs', 'Food', '30 lakhs for 20% equity', 30, 30.0, 0, 0, 20.0, 5.0, '35-40', 3, 0.0, 0.0, 0.0, 0.0, 10.0, 6.6, None, None, 10.0, 6.6, 10.0, 6.6, None, None, 3.0, 'Ama-Anu-Pey'),
 (10, 'EventBeep', 2.0, 1.0, 'Pune', 'Student Community App', 'Lifestyle', '30 lakhs for 3% equity', 30, 30.0, 0, 0, 3.0, 2.0, '20-25', 3, 10.0, 1.0, 0.0, 0.0, 0.0, 0.0, None, None, 10.0, 1.0, 10.0, 1.0, None, None, 3.0, 'Ama-Ash-Pey'),
 (11, "Gopal's 56", 1.0, 0.0, 'Delhi', 'Fiber Ice Cream', 'Food', 'No Deal', 0, 30000.0, 0, 0, 0.0, 25.0, '30-35', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (11, 'ARRCOAT Surface Textures', 3.0, 0.0, 'Delhi', 'Wall Building', 'Lifestyle', '50 lakhs for 15% equity', 50, 50.0, 0, 0, 15.0, 5.0, '35-40', 3, 0.0, 0.0, 0.0, 0.0, 50.0, 15.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 1.0, 'Anu'),
 (11, 'Farda', 1.0, 1.0, 'Nagpur', 'Customised Streetwear', 'Lifestyle', '30 lakhs for 20% equity', 30, 30.0, 0, 0, 20.0, 10.0, '20-25', 2, 0.0, 0.0, 15.0, 10.0, 0.0, 0.0, None, None, 15.0, 10.0, 0.0, 0.0, None, None, 2.0, 'Ama-Nam'),
 (12, 'Auli Lifestyle', 0.0, 1.0, 'Kolkata', 'Ayurvedic Products', 'Health', '75 lakhs for 15% equity', 75, 75.0, 0, 0, 15.0, 4.0, '25-30', 1, 0.0, 0.0, 75.0, 15.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 1.0, 'Nam'),
 (12, 'SweeDesi', 1.0, 1.0, 'Pune', 'Indian Sweets', 'Food', 'No Deal', 0, 40.0, 0, 0, 0.0, 3.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (12, 'LOKA', 1.0, 1.0, 'Delhi', 'Metaverse App', 'Technology', '40 lakhs for 24% equity', 40, 40.0, 0, 0, 24.0, 5.0, '20-25', 1, 0.0, 0.0, 0.0, 0.0, 13.3, 8.0, None, None, 13.3, 8.0, 13.3, 8.0, None, None, 3.0, 'Ama-Anu-Pey'),
 (13, 'Annie', 3.0, 1.0, 'Bangalore', 'Braille Literary Device', 'Health', '1.05 crore at 3% equity', 105, 30.0, 0, 0, 3.0, 0.5, '20-25', 4, 0.0, 0.0, 35.0, 1.0, 35.0, 1.0, None, None, 0.0, 0.0, 35.0, 1.0, None, None, 3.0, 'Anu-Nam-Pey'),
 (13, 'Caragreen', 0.0, 2.0, 'Indore', 'Eco-Friendly boxes', 'Lifestyle', '50 lakhs for 20% equity', 50, 50.0, 0, 0, 20.0, 10.0, '40-45', 2, 0.0, 0.0, 0.0, 0.0, 25.0, 10.0, None, None, 0.0, 0.0, 25.0, 10.0, None, None, 2.0, 'Anu-Pey'),
 (13, 'The Yarn Bazaar', 1.0, 0.0, 'Mumbai', 'Yarn-Trading App', 'Clothes', '1 crore for 10% equity', 100, 50.0, 0, 0, 10.0, 2.0, '30-35', 1, 25.0, 2.5, 0.0, 0.0, 25.0, 2.5, None, None, 25.0, 2.5, 25.0, 2.5, None, None, 4.0, 'Ama-Anu-Ash-Pey'),
 (14, 'The Renal Project', 2.0, 0.0, 'Mumbai', 'Home Dialysis Treatment', 'Health', '1 crore at 6% equity', 100, 100.0, 0, 0, 6.0, 3.0, '30-35', 2, 0.0, 0.0, 50.0, 3.0, 0.0, 0.0, None, None, 50.0, 3.0, 0.0, 0.0, None, None, 2.0, 'Ama-Nam'),
 (14, 'Morikko Pure Foods', 2.0, 1.0, 'Valsad', 'Healthy Food Snacks', 'Food', 'No Deal', 0, 100.0, 0, 0, 0.0, 3.0, '45-50', 3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (14, 'Good Good Piggy Bank', 0.0, 1.0, 'Delhi', 'Digital Piggy Bank', 'Lifestyle', 'No Deal', 0, 45.0, 0, 0, 0.0, 5.0, '25-30', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (15, 'Hammer Lifestyle', 1.0, 0.0, 'Panipat', 'Smart Audio Products', 'Lifestyle', '1 crore for 40% equity', 100, 30.0, 0, 0, 40.0, 3.0, '25-30', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 100.0, 40.0, 0.0, 0.0, None, None, 1.0, 'Ama'),
 (15, 'PNT', 2.0, 0.0, 'Mumbai', 'Robotics and Automation Solutions', 'Technology', '25 lakhs for 25% equity and 25 lakhs debt', 25, 50.0, 25, 0, 25.0, 4.0, '20-25', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 50.0, 50.0, None, None, 1.0, 'Pey'),
 (15, 'Cocofit', None, None, 'Hyderabad', 'Coconut based beverage franchise', 'Food', '5 for 5% equity', 5, 5.0, 0, 0, 5.0, 5.0, '35-40', 3, 0.0, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, 'Ama-Anu-Nam'),
 (16, 'Bamboo India', 1.0, 1.0, 'Pune', 'Bamboo Products', 'Lifestyle', '50 lakhs at 3.5% Equity and 30 lakhs Debt', 50, 80.0, 30, 0, 3.5, 4.0, '40-45', 2, 40.0, 1.75, 0.0, 0.0, 40.0, 1.75, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 2.0, 'Anu-Ash'),
 (16, 'Flying Furr', 3.0, 1.0, 'Delhi', 'Dog Hygiene', 'Food', 'No Deal', 0, 75.0, 0, 0, 0.0, 7.0, '25-30', 4, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (16, 'Beyond Water', 1.0, 1.0, 'Kolkata', 'Liquid Water Enhancer', 'Lifestyle', '75 lakhs for 15% Equity', 75, 75.0, 0, 0, 15.0, 4.0, '30-35', 2, 0.0, 0.0, 37.5, 7.5, 0.0, 0.0, None, None, 37.5, 7.5, 0.0, 0.0, None, None, 2.0, 'Ama-Nam'),
 (16, 'Letï¿½s Try', 1.0, 3.0, 'Delhi', 'Healthy Snacks', 'Food', '45 lakhs for 12% Equity', 45, 45.0, 0, 0, 12.0, 2.0, '45-50', 4, 0.0, 0.0, 0.0, 0.0, 22.5, 6.0, None, None, 22.5, 6.0, 0.0, 0.0, None, None, 2.0, 'Ama-Anu'),
 (17, 'Find Your Kicks India', 3.0, 0.0, 'Ludhiana', 'Sneaker Resale', 'Lifestyle', '50 lakhs for 25% equity', 50, 50.0, 0, 0, 25.0, 10.0, '20-25', 3, 10.0, 5.0, 10.0, 5.0, 10.0, 5.0, None, None, 10.0, 5.0, 10.0, 5.0, None, None, 5.0, 'Ama-Anu-Ash-Nam-Pey'),
 (17, 'Aas Vidyalaya', 1.0, 1.0, 'Mumbai', 'EdTech App', 'Technology', '1.5 Crore for 15% Equity', 150, 150.0, 0, 0, 15.0, 3.0, '50-55', 2, 50.0, 3.0, 50.0, 3.0, 0.0, 0.0, None, None, 0.0, 0.0, 50.0, 3.0, None, None, 3.0, 'Ash-Nam-Pey'),
 (17, 'Outbox', 1.0, 1.0, 'Kolkata', 'Premium Suprise-Planning', 'Lifestyle', 'No Deal', 0, 50.0, 0, 0, 0.0, 5.0, '30-35', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (17, 'RoadBounce', 1.0, 0.0, 'Pune', 'Pothole Detection Software and Data', 'Technology', '80 Lakhs for 20% Equity', 80, 80.0, 0, 0, 20.0, 10.0, '45-50', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 80.0, 20.0, None, None, 1.0, 'Pey'),
 (18, 'Mommyï¿½s Kitchen', 2.0, 1.0, 'Bangalore', 'Thin Crust Pizza', 'Food', 'No Deal', 0, 90.0, 0, 0, 0.0, 3.0, '45-50', 3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (18, 'India Hemp and Co', 0.0, 1.0, 'Bangalore', 'Hemp Food Products', 'Food', 'No Deal', 0, 50.0, 0, 0, 0.0, 4.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (18, 'Otua', 2.0, 0.0, 'Gurgaon', 'Electric Auto Vehicle', 'Automobile', '1 lakh for 1%ï¿½equity and 99 lakhs Debt', 1, 100.0, 99, 0, 1.0, 1.0, '41-45', 2, 100.0, 1.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 1.0, 'Ash'),
 (18, 'Anthyesti', 0.0, 1.0, 'Kolkata', 'Funeral Service', 'Lifestyle', 'No Deal', 0, 50.0, 0, 0, 0.0, 2.5, '30-35', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (19, 'Ethik', 2.0, 0.0, 'Bangalore', 'Leather-free Shoes', 'Lifestyle', 'No Deal', 0, 15.0, 0, 0, 0.0, 5.0, '35-40', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (19, 'WeSTOCK', 2.0, 0.0, 'Kerela', 'Livestock health monitoring AI', 'Technology', '60 lakhs for 10% equity', 50, 50.0, 0, 0, 10.0, 5.0, '35-40', 2, 12.5, 2.5, 12.5, 2.5, 0.0, 0.0, None, None, 12.5, 2.5, 12.5, 2.5, None, None, 4.0, 'Ama-Ash-Nam-Pey'),
 (19, 'KetoIndia', 1.0, 1.0, 'Delhi', 'Customised Keto Diets for various medical issues', 'Health', 'No Deal', 0, 150.0, 0, 0, 0.0, 1.25, '30-35', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (19, 'Magic lock', 3.0, 0.0, 'Unknown', 'LPG Cylinder lock', 'Lifestyle', 'No Deal', 0, 120.0, 0, 0, 0.0, 8.0, '40-45', 3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (20, 'The State Plate', 1.0, 1.0, 'Bangalore', 'Delicacies', 'Food', '40 Lakhs for 3%equity and 25 Lakhs Debt', 40, 65.0, 25, 0, 3.0, 2.0, '20-25', 2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 65.0, 3.0, None, None, 1.0, 'Pey'),
 (20, 'Bakarmax', 1.0, 0.0, 'Delhi', 'Comics & Animation', 'Lifestyle', 'No Deal', 0, 35.0, 0, 0, 0.0, 5.0, '30-35', 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (20, 'IN A CAN', 2.0, 0.0, 'Pune', 'Can Cocktails', 'Food', '1 Crore for 10ï¿½% equity', 100, 50.0, 0, 0, 10.0, 2.0, '30-35', 2, 20.0, 2.0, 20.0, 2.0, 20.0, 2.0, None, None, 20.0, 2.0, 20.0, 2.0, None, None, 5.0, 'Ama-Anu-Ash-Nam-Pey'),
 (21, 'Get a Whey', 1.0, 1.0, 'Mumbai', 'Sugar-Free Icecream', 'Food', '1 Crore for 15% equity', 100, 100.0, 0, 0, 15.0, 8.0, '40-45', 2, 33.33, 5.0, None, None, 0.0, 0.0, 33.33, 5.0, 33.33, 5.0, 0.0, 0.0, None, None, 3.0, 'Ama-Ash-Pey'),
 (21, 'Sid 07 Designs', 1.0, 0.0, 'Jammu', 'Inventions', 'Technology', '25 Lakhs for 75% equity & 22 lakhs Debt', 25, 47.0, 22, 0, 75.0, 10.0, '25-30', 1, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 47.0, 75.0, None, None, 1.0, 'Pey'),
 (21, 'The Quirky Nari', 0.0, 1.0, 'Mathura', 'Customised Apparels', 'Lifestyle', '35 lakhs for 24% equity', 35, 35.0, 0, 0, 24.0, 5.0, '25-30', 1, 0.0, 0.0, None, None, 17.5, 12.0, 17.5, 12.0, 0.0, 0.0, 0.0, 0.0, None, None, 2.0, 'Anu-Vin'),
 (22, 'Hair Originals', 3.0, 0.0, 'Gurgaon', 'Natural Hair Extensions', 'Lifestyle', '60 Lakhs for 4% equity', 60, 60.0, 0, 0, 4.0, 2.0, '40-45', 3, 20.0, 1.3, None, None, 20.0, 1.3, None, 0.0, 0.0, 0.0, 20.0, 1.3, None, None, 3.0, 'Anu-Ash-Pey'),
 (22, 'Poo de Cologne', 0.0, 1.0, 'Mumbai', 'Toilet Spray with Essential Oils', 'Lifestyle', 'No Deal', 0, 75.0, 0, 0, 0.0, 5.0, '30-35', 1, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (22, 'Moonshine Meads', 2.0, 0.0, 'Pune', 'Meads', 'Food', 'No Deal', 0, 80.0, 0, 0, 0.0, 0.5, '40-45', 2, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (22, 'Falhari', 3.0, 0.0, 'Gurgaon', 'Fresh Fruits', 'Food', 'No Deal', 0, 50.0, 0, 0, 0.0, 2.0, '25-30', 3, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (23, 'Namhya Foods', 0.0, 1.0, 'Jammu', 'Ayurvedic Enriched Food', 'Food', '50 lakhs for 10% Equity & 50 lakhs Debt', 50, 100.0, 50, 0, 10.0, 5.0, '25-30', 1, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 100.0, 10.0, 0.0, 0.0, None, None, 1.0, 'Ama'),
 (23, 'Urban Monkey', 1.0, 0.0, 'Mumbai', 'Streetwear', 'Lifestyle', 'No Deal', 0, 100.0, 0, 0, 0.0, 1.0, '30-35', 1, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (23, 'Guardian Gears', 1.0, 1.0, 'Secundarabad', 'Motorcycle Luggage', 'Automobile', 'No Deal', 0, 30.0, 0, 0, 0.0, 5.0, '30-35', 2, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (23, 'Modern Myth', 1.0, 1.0, 'Delhi', 'Bags', 'Lifestyle', 'No Deal', 0, 75.0, 0, 0, 0.0, 5.0, '30-35', 2, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, None),
 (24, 'The Sass Bar', 0.0, 1.0, 'Mumbai', 'Gifts', 'Lifestyle', '50 lakhs for 35% Equity', 50, 40.0, 0, 0, 35.0, 8.0, '30-35', 1, None, None, 0.0, 0.0, 25.0, 17.5, 0.0, 0.0, None, None, 0.0, 0.0, 25.0, 17.5, 2.0, 'Anu-Gha'),
 (24, 'KG Agrotech', 2.0, 0.0, 'Malegaon', 'Agricultural Innovations', 'Technology', '10 lakhs for 40% Equity & 20 lakhs Debt', 10, 30.0, 20, 0, 40.0, 10.0, '25-30', 2, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 30.0, 40.0, 0.0, 0.0, 1.0, 'Pey'),
 (24, 'Nuskha Kitchen', 1.0, 1.0, 'Jaipur', 'Homemade Foods', 'Food', 'No Deal', 0, 20.0, 0, 0, 0.0, 10.0, '35-40', 2, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, None),
 (25, 'PawsIndia', 1.0, 1.0, 'Bombay', 'Dog Products', 'Food', '50 lakhs for 15% Equity', 50, 50.0, 0, 0, 15.0, 4.0, '25-30', 2, None, None, 0.0, 0.0, 50.0, 15.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 1.0, 'Anu'),
 (25, 'Sunfox Technologies', 4.0, 0.0, 'Dehradun', 'Portable ECG Device', 'Health', '1 crore for 6% Equity', 100, 100.0, 0, 0, 6.0, 2.0, '30-35', 4, None, None, 20.0, 1.2, 20.0, 1.2, 20.0, 1.2, None, None, 20.0, 1.2, 20.0, 1.2, 5.0, 'Anu-Gha-Nam-Pey-Vin'),
 (25, 'Alpino', 4.0, 0.0, 'Surat', 'Roasted Peanut Products', 'Food', 'No Deal', 0, 150.0, 0, 0, 0.0, 2.0, '25-30', 4, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, None),
 (26, 'Isak Fragrances', 0.0, 1.0, 'Lucknow', 'Perfumes', 'Lifestyle', '50 lakhs for 50% Equity', 50, 50.0, 0, 0, 50.0, 8.0, '30-35', 1, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 50.0, 50.0, 0.0, 0.0, 1.0, 'Pey'),
 (26, 'Julaa Automation', 3.0, 0.0, 'Gujarat', 'Automatic Cradle', 'Technology', 'No Deal', 0, 50.0, 0, 0, 0.0, 10.0, '30-35', 3, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, None),
 (26, 'Rare Planet', 2.0, 0.0, 'Kolkata', 'Handicrafts', 'Lifestyle', '65 lakhs for 3% Equity', 65, 65.0, 0, 0, 3.0, 1.0, '30-35', 2, None, None, 65.0, 3.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 1.0, 'Nam'),
 (27, 'Theka Coffee', 1.0, 0.0, 'Gujarat', 'Coffee Products', 'food', 'No Deal', 0, 50.0, 0, 0, 0.0, 10.0, '30-35', 1, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, None),
 (27, 'Watt Technovations', None, None, None, 'Ventilated PPE Kits', None, '101 for 4% Equity', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Ama-Anu-Nam-Pey'),
 (27, 'Aliste Technologies', 6.0, 0.0, 'Noida', 'Automation Solutions', 'Technology', 'No Deal', 0, 60.0, 0, 0, 0.0, 5.0, '20-25', 6, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, None),

### Total number of Episodes

In [5]:
%sql select max(epno) from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(30,)]

### Unique brands in the show

In [7]:
%sql select count(distinct brand) from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(98,)]

### Pitches that got Funding

In [10]:
%sql SELECT SUM(a.converted_not_converted) AS Pitches_funded, COUNT(*) \
FROM (SELECT amountinvestedlakhs, CASE WHEN amountinvestedlakhs > 0 THEN 1 ELSE 0 END AS converted_not_converted \
      FROM data) a;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(57, 98)]

### No. of male participants

In [11]:
%sql select sum(male) from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(139.0,)]

### No. of female participants

In [12]:
%sql select sum(female) from data;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(59.0,)]

### Total amount invested by all the sharks in the show in the season 1

In [13]:
%sql select sum(amountinvestedlakhs) from data;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(3422,)]

### Average equity taken by the sharks

In [15]:
%sql select avg(a.equitytakenp) from \
(select * from data where equitytakenp>0) a

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(16.58035087719298,)]

### Highesh investment made by any of the shark

In [16]:
%sql select max(amountinvestedlakhs) as max_amount from data;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(150,)]

### Highest Equity taken by any of the shark

In [17]:
%sql select max(equitytakenp) from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(75.0,)]

### Startups having at least one women

In [19]:
%sql SELECT SUM(a.female_count) AS total_female_count \
FROM ( \
    SELECT female, COUNT(*) AS female_count \
    FROM data \
    WHERE female > 0 \
    GROUP BY female \
) AS a;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(52,)]

### Average teammembers

In [21]:
%sql select avg(teammembers) as Average_teammembers from data

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(2.082474226804124,)]

### Average amount invested per deal in the show

In [23]:
%sql select avg(a.amountinvestedlakhs) amount_invested_per_deal from \
(select * from data where deal!='No Deal') a

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[(60.03508771929825,)]

### Average age group of contestants

In [24]:
%sql select avgage,count(avgage) cnt from data group by avgage order by cnt desc

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[('30-35', 32),
 ('35-40', 21),
 ('25-30', 17),
 ('20-25', 12),
 ('40-45', 6),
 ('45-50', 5),
 ('50-55', 3),
 ('41-45', 1),
 (None, 0)]

### Locations of the startups that pitched in the show

In [25]:
%sql select location,count(location) cnt from data group by location order by cnt desc

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[('Delhi', 14),
 ('Mumbai', 13),
 ('Pune', 11),
 ('Bangalore', 10),
 ('Kolkata', 6),
 ('Ahemdabad', 5),
 ('Hyderabad', 4),
 ('Gurgaon', 3),
 ('Gujarat', 3),
 ('Noida', 2),
 ('Kerela', 2),
 ('Jammu', 2),
 ('Jaipur', 2),
 ('Valsad', 1),
 ('Unknown', 1),
 ('Surat', 1),
 ('Secundarabad', 1),
 ('Panipat', 1),
 ('Nashik', 1),
 ('Nagpur', 1),
 ('Mathura', 1),
 ('Malegaon', 1),
 ('Ludhiana', 1),
 ('Lucknow', 1),
 ('Kaithal', 1),
 ('Jalna', 1),
 ('Indore', 1),
 ('Goa', 1),
 ('Dehradun', 1),
 ('Darbhanga', 1),
 ('Chennai', 1),
 ('Bombay', 1),
 ('Baramati', 1),
 (None, 0)]

### Different sectors from which the startups are

In [26]:
%sql select sector,count(sector) cnt from data group by sector order by cnt desc

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[('Food', 31),
 ('Lifestyle', 29),
 ('Health', 12),
 ('Technology', 9),
 ('Automobile', 6),
 ('Clothes', 4),
 ('food', 1),
 ('Tourism', 1),
 ('Safety', 1),
 ('Finance', 1),
 ('Entertainment', 1),
 ('Education', 1),
 (None, 0)]

### Partner Deals of the sharks

In [27]:
%sql select partners,count(partners) cnt from data  where partners!='NA' group by partners order by cnt desc

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[('Pey', 7),
 ('Ama-Nam', 5),
 ('Nam', 3),
 ('Ash', 3),
 ('Anu-Vin', 3),
 ('Ama', 3),
 ('Gha-Pey-Vin', 2),
 ('Anu-Pey', 2),
 ('Anu', 2),
 ('Ama-Ash-Pey', 2),
 ('Ama-Ash', 2),
 ('Ama-Anu-Pey', 2),
 ('Ama-Anu-Ash-Nam-Pey', 2),
 ('Ama-Anu', 2),
 ('Vin', 1),
 ('Nam-Vin', 1),
 ('Gha-Nam-Vin', 1),
 ('Ash-Vin', 1),
 ('Ash-Nam-Pey', 1),
 ('Anu-Nam-Pey', 1),
 ('Anu-Gha-Nam-Pey-Vin', 1),
 ('Anu-Gha', 1),
 ('Anu-Ash-Pey', 1),
 ('Anu-Ash', 1),
 ('Ama-Pey', 1),
 ('Ama-Nam-Pey', 1),
 ('Ama-Ash-Vin', 1),
 ('Ama-Ash-Nam-Pey', 1),
 ('Ama-Anu-Nam-Pey', 1),
 ('Ama-Anu-Nam', 1),
 ('Ama-Anu-Ash-Pey', 1),
 ('Ama-Anu-Ash-Nam-Vin', 1)]

### Table of my 4 favorite sharks and their investments information

In [31]:
import sqlite3

conn = sqlite3.connect('C:\\Users\\mahaj\\Downloads\\data.db')
cursor = conn.cursor()

query = """
SELECT m.keyy, m.total_deals_present, m.total_deals, n.total_amount_invested, n.avg_equity_taken
FROM (
    SELECT a.keyy, a.total_Deals_present, b.total_Deals
    FROM (
        SELECT 'Ashnner' AS keyy, COUNT(ashneeramountinvested) AS total_Deals_present
        FROM data
        WHERE ashneeramountinvested != 'NA'
    ) a
    INNER JOIN (
        SELECT 'Ashnner' AS keyy, COUNT(ashneeramountinvested) AS total_Deals
        FROM data
        WHERE ashneeramountinvested != 'NA' AND ashneeramountinvested != '0'
    ) b ON a.keyy = b.keyy
) m
INNER JOIN (
    SELECT 'Ashnner' AS keyy, SUM(c.ashneeramountinvested) AS total_amount_invested, AVG(c.ashneerequitytakenp) AS avg_equity_taken
    FROM (
        SELECT * FROM data WHERE ashneerequitytakenp != 'NA' AND ashneerequitytakenp != '0'
    ) c
) n ON m.keyy = n.keyy

UNION all

SELECT m.keyy, m.total_deals_present, m.total_deals, n.total_amount_invested, n.avg_equity_taken
FROM (
    SELECT a.keyy, a.total_Deals_present, b.total_Deals
    FROM (
        SELECT 'Peyush' AS keyy, COUNT(peyushamountinvested) AS total_Deals_present
        FROM data
        WHERE peyushamountinvested != 'NA'
    ) a
    INNER JOIN (
        SELECT 'Peyush' AS keyy, COUNT(peyushamountinvested) AS total_Deals
        FROM data
        WHERE peyushamountinvested != 'NA' AND peyushamountinvested != '0'
    ) b ON a.keyy = b.keyy
) m
INNER JOIN (
    SELECT 'Peyush' AS keyy, SUM(c.peyushamountinvested) AS total_amount_invested, AVG(c.peyushequitytakenp) AS avg_equity_taken
    FROM (
        SELECT * FROM data WHERE peyushequitytakenp != 'NA' AND peyushequitytakenp != '0'
    ) c
) n ON m.keyy = n.keyy

union all

SELECT m.keyy, m.total_deals_present, m.total_deals, n.total_amount_invested, n.avg_equity_taken
FROM (
    SELECT a.keyy, a.total_Deals_present, b.total_Deals
    FROM (
        SELECT 'Aman' AS keyy, COUNT(amanamountinvested) AS total_Deals_present
        FROM data
        WHERE amanamountinvested != 'NA'
    ) a
    INNER JOIN (
        SELECT 'Aman' AS keyy, COUNT(amanamountinvested) AS total_Deals
        FROM data
        WHERE amanamountinvested != 'NA' AND amanamountinvested != '0'
    ) b ON a.keyy = b.keyy
) m
INNER JOIN (
    SELECT 'Aman' AS keyy, SUM(c.amanamountinvested) AS total_amount_invested, AVG(c.amanequitytakenp) AS avg_equity_taken
    FROM (
        SELECT * FROM data WHERE amanequitytakenp != 'NA' AND amanequitytakenp != '0'
    ) c
) n ON m.keyy = n.keyy

union ALL

SELECT m.keyy, m.total_deals_present, m.total_deals, n.total_amount_invested, n.avg_equity_taken
FROM (
    SELECT a.keyy, a.total_Deals_present, b.total_Deals
    FROM (
        SELECT 'Anupam' AS keyy, COUNT(anupamamountinvested) AS total_Deals_present
        FROM data
        WHERE anupamamountinvested != 'NA'
    ) a
    INNER JOIN (
        SELECT 'Anupam' AS keyy, COUNT(anupamamountinvested) AS total_Deals
        FROM data
        WHERE anupamamountinvested != 'NA' AND anupamamountinvested != '0'
    ) b ON a.keyy = b.keyy
) m
INNER JOIN (
    SELECT 'Anupam' AS keyy, SUM(c.anupamamountinvested) AS total_amount_invested, AVG(c.anupamequitytakenp) AS avg_equity_taken
    FROM (
        SELECT * FROM data WHERE anupamequitytakenp != 'NA' AND anupamequitytakenp != '0'
    ) c
) n ON m.keyy = n.keyy;

"""

cursor.execute(query)

results = cursor.fetchall()
print(results)

conn.commit()
conn.close()

[('Ashnner', 79, 17, 560.83, 4.140196078411765), ('Peyush', 71, 24, 784.0300000000001, 13.723333333333334), ('Aman', 78, 24, 799.9300000000001, 6.095), ('Anupam', 96, 20, 518.8, 7.638)]

### As we are using Jupyter notebook, it doesn't support table format properly which SQL does. So just to show this information properly i will be using Pandas Dataframe.

In [36]:
data = [('Ashnner', 79, 17, 560.83, 4.140196078411765), ('Peyush', 71, 24, 784.0300000000001, 13.723333333333334), ('Aman', 78, 24, 799.9300000000001, 6.095), ('Anupam', 96, 20, 518.8, 7.638)]

In [38]:
import pandas as pd
columns = ['keyy', 'total_deals_present', 'total_deals', 'total_amount_invested', 'avg_equity_taken']
df = pd.DataFrame(data, columns=columns)

df

,keyy,total_deals_present,total_deals,total_amount_invested,avg_equity_taken
0,Ashnner,79,17,560.83,4.140196
1,Peyush,71,24,784.03,13.723333
2,Aman,78,24,799.93,6.095000
3,Anupam,96,20,518.80,7.638000

#### Exact same table can be seen if you are using any of the SQL IDE

### Startups in which the highest amount has been invested in each domain/sector

In [33]:
%sql SELECT c.*\
FROM (\
    SELECT brand,sector, amountinvestedlakhs, RANK() OVER (PARTITION BY sector ORDER BY amountinvestedlakhs DESC) AS rnk\
    FROM data\
) c\
WHERE c.rnk = 1;

 * sqlite:///C:/Users/mahaj/Downloads/data.db
Done.

[('Watt Technovations', None, None, 1),
 ('Revamp Moto', 'Automobile', 100, 1),
 ('The Yarn Bazaar', 'Clothes', 100, 1),
 ('Scholify', 'Education', 0, 1),
 ('Kabaddi Adda', 'Entertainment', 80, 1),
 ('Insurance Samadhan', 'Finance', 100, 1),
 ('Skippi Pops', 'Food', 100, 1),
 ('IN A CAN', 'Food', 100, 1),
 ('Get a Whey', 'Food', 100, 1),
 ('Humpy A2', 'Food', 100, 1),
 ('Annie', 'Health', 105, 1),
 ('Raising Superstars', 'Lifestyle', 100, 1),
 ('Hammer Lifestyle', 'Lifestyle', 100, 1),
 ('Gold Safe Solutions Ind.', 'Safety', 50, 1),
 ('Aas Vidyalaya', 'Technology', 150, 1),
 ('Agro tourism', 'Tourism', 0, 1),
 ('Theka Coffee', 'food', 0, 1)]

### Insights Observed:

- <p>Out of 98 pitches 57 pitches got funded on the show

- <p>Average Equity taken by sharks is around 15%

- <p>Highest investement made on the show is 1.50 Cr Rupees

- <p>Highest equity taken on the show is 75%

- <p>Most of the contestants are from the age-group of 30-35

- <p>Most of the startups are from Delhi, Mumbai, Pune and Bangalore

- <p>Aman, Namita and Anupam and Vineeta are the 2 pair of sharks which partnered on most of the deals

- <p>Technology, Automobile, Food and Entertainment are the sectors where sharks made heavy investments